<div class="login-page">
  <div class="login-card">
    
    <div class="login-header">
      <div class="logo">🔒</div>
      <h1>Recuperar Contraseña</h1>
      <p>Ingresa tus datos para restablecer tu acceso</p>
    </div>

    <div class="form-group">
      <label for="email">Correo electrónico</label>
      <input pInputText id="email" type="email" placeholder="ejemplo@correo.com" [(ngModel)]="email" class="w-full" />
    </div>

    <div class="form-group">
      <label for="nuevaClave">Nueva contraseña</label>
      <p-password 
        id="nuevaClave" 
        [(ngModel)]="nuevaClave" 
        [feedback]="true" 
        [toggleMask]="true" 
        placeholder="Nueva contraseña"
        styleClass="w-full">
      </p-password>
    </div>

    <div class="form-group">
      <label for="confirmarClave">Confirmar nueva contraseña</label>
      <p-password 
        id="confirmarClave" 
        [(ngModel)]="confirmarClave" 
        [feedback]="false" 
        [toggleMask]="true" 
        placeholder="Confirma la contraseña"
        styleClass="w-full">
      </p-password>
    </div>

    <p-button 
        label="Cambiar Contraseña" 
        icon="pi pi-check" 
        (click)="guardar()" 
        styleClass="w-full">
    </p-button>

    <div class="form-footer">
      <a routerLink="/login">Volver al Inicio de sesión</a>
    </div>

  </div>
</div>